<div class="container">
  <h2><%= @cohort.name %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Instructor</th>
        <th>Course</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @cohort.name %></td>
        <td><%= @cohort.start_date %></td>
        <td><%= @cohort.end_date %></td>
        <td><%= @cohort.instructor.first_name %> <%= @cohort.instructor.last_name %></td>
        <td><%= @cohort.course.name %></td>
      </tr>
    </tbody>
  </table>
</div>
