<div class="container">
<h2>Students</h2>          
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Education</th>
      <th>Cohort ID</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
    <% @students.each do |x| %>
      <td><%= x.first_name %></td>
      <td><%= x.last_name %></td>
      <td><%= x.age %></td>
      <td><%= x.education %></td>
      <td><%= Cohort.find(x.cohort_id).name %></td>
      <td><%= link_to 'Edit', edit_instructor_path(x), remote:true %></td>
      <td><%= link_to 'Delete', instructor_path(x), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <div id='edit-<%= x.id%>'></div>
    <% end %>
  </tbody>
</table>
</div>