<div class="container">
    <h2>Instructors</h2>          
    <table class="table table-striped">
      <thead>
        <tr class="column-name">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Salary</th>
          <th>Education</th>
          <th>Cohort ID</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      
        <tr>
        <% @instructors.each do |x| %>
          <td><%= x.first_name %></td>
          <td><%= x.last_name %></td>
          <td><%= x.age %></td>
          <td><%= x.salary %></td>
          <td><%= x.education %></td>
          <td><%= Cohort.find(x.cohort_id).name %></td>
          <td><%= link_to 'Edit', edit_instructor_path(x), remote:true %></td>
          <td><%= link_to 'Delete ', instructor_path(x), method: :delete, remote:true, data: { confirm: 'You cannot undo this action. Are you sure you want to delete?' } %><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
        </tr>
        <div id='edit-<%= x.id%>'></div>
        <% end %>
      </tbody>
    </table>
    <ol><%= link_to "Add New Instructor", new_instructor_path, class: "btn btn-default" %></ol>
  </div>

