<!DOCTYPE html>
<html>
  <head>
    <title>Pamelas Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %> 
    <%= stylesheet_link_tag "navbar" %> 

  </head>
  <div class="col-sm-3 col-md-2 sidebar">
  <ul class="navbar fixed-left">
        <ul><%= link_to "Home", '/' %></ul>
        <ul><%= link_to "Students", '/students' %></ul>
        <ul><%= link_to "Instructors", '/instructors' %></ul>
        <ul><%= link_to "Courses", '/courses' %></ul>
        <ul><%= link_to "Cohorts", '/cohorts' %></ul>
        <ul><%= link_to "Sign in", '/' %></ul>
      </ul>
</div>
  
  <body>


<div class="container">
  <%= yield %>
</div>

</body>
  </html>