<!DOCTYPE html>
<html>
  <head>
    <title>Pamelas Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_link_tag "navbar" %>
  </head>

    <div class="sidenav">

    <div class="header">
    <%= image_tag("logo.png", width: '150px') %>
    <p>
    </div>

      <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      <hr>
      <a href="/instructors"><span class="glyphicon glyphicon-user"></span> Instructors</a>
      <hr>
      <a href="/students"><span class="glyphicon glyphicon-education"></span> Students</a>
      <hr>
      <a href="/courses"><span class="glyphicon glyphicon-book"></span> Courses</a>
      <hr>
      <a href="/cohorts"><span class="glyphicon glyphicon-bookmark"></span> Cohorts</a>
     
  <% if admin_signed_in? %>
    <div class="footer">
      <p><span class="glyphicon glyphicon-log-out"></span><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></p>
    </div>
  <% end %>
  
  </div>
  
  <body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <%= yield %>
  </div>
  
  <%= javascript_include_tag "application" %>
  </body>
</html>